In [174]:
import pandas as pd
import os

In [197]:
## concat all files
df = pd.DataFrame()
filenames = os.listdir("./data")
for file in filenames:
    temp_df = pd.read_csv(f"./data/{file}")
    df = pd.concat([temp_df, df])
df

          Date       Open       High        Low      Close
0   11/19/2021  64,625.00  66,555.00  55,600.00  57,900.00
1   11/12/2021  62,910.00  69,355.00  62,385.00  64,235.00
2   11/05/2021  61,995.00  64,665.00  59,700.00  61,380.00
3   10/29/2021  61,080.00  63,865.00  57,855.00  61,149.30
4   10/22/2021  61,120.00  67,680.00  60,100.00  61,080.00
..         ...        ...        ...        ...        ...
48  12/20/2019   7,120.00   7,440.00   6,420.00   7,230.00
49  12/13/2019   7,570.00   7,705.00   7,070.00   7,265.00
50  12/06/2019   7,465.00   7,975.00   7,085.00   7,460.00
51  11/29/2019   7,050.00   7,805.00   6,510.00   7,775.69
52  11/22/2019   8,200.00   8,275.00   6,775.00   7,330.00

[159 rows x 5 columns]

In [198]:
def converter(df, open_column = "Open", close_column = "Close"):
    ## if type is str then convert to float
    if type(df[open_column].iloc[0]) == str and type(df[close_column].iloc[0]) == str:
        try:
            df[open_column] = df[open_column].astype(float)
            df[close_column] = df[close_column].astype(float)
        except ValueError:
            df[open_column] = df[open_column].str.split(".", 1)
            df[close_column] = df[close_column].str.split(".", 1)
            for i in range(0, df.shape[0]):
                df.loc[i, open_column] = df.loc[i, open_column][0].replace(",",".")
                df.loc[i, close_column] = df.loc[i, close_column][0].replace(",",".")
            df[open_column] = df[open_column].astype(float)

In [199]:

def gapchecker(df, threshold=3, open_column="Open", close_column="Close"):
# Threshold must be percent like %3
    df["GAP"] = False          
    for i in reversed(range(1, df.shape[0])):
        open_val = df[open_column].iloc[i - 1]
        close_val = df[close_column].iloc[i]
        prc_change = pd.Series([float(close_val), float(open_val)]).pct_change()     
        if abs(prc_change[1]) * 100 > float(threshold):
            df["GAP"].iloc[i - 1] = True
            #print(prc_change[1], close_val, open_val)

In [200]:
df.reset_index(inplace=True)
df.drop(["High", "Low", "index"], axis=1, inplace=True)

In [201]:
threshold = 2.14
converter(df)
gapchecker(df, threshold)
result = df.groupby(["GAP"]).count()
sum = result["Date"][0] + result["Date"][1]
false = result["Date"][0] / sum
true = result["Date"][1] / sum
print(f"for %{threshold} change threshold, Can be gapped: %{(true * 100).round()}, Can't Gapped %{(false * 100).round()}")

for %2.14 change threshold, Can be gapped: %50.0, Can't Gapped %50.0

c:\users\croiz\anaconda3\envs\analyze\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [202]:
df

           Date    Open   Close    GAP
0    11/19/2021  64.625  57.900  False
1    11/12/2021  62.910  64.235   True
2    11/05/2021  61.995  61.380  False
3    10/29/2021  61.080  61.149  False
4    10/22/2021  61.120  61.080  False
..          ...     ...     ...    ...
154  12/20/2019   7.120   7.230  False
155  12/13/2019   7.570   7.265  False
156  12/06/2019   7.465   7.460   True
157  11/29/2019   7.050   7.775   True
158  11/22/2019   8.200   7.330  False

[159 rows x 4 columns]